<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elevator</title>

    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">

</head>

<body>
    <!-- 项目标示语 -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h3>"互联网+"产品定制设计方法与技术——国家重点研发计划</h3>
    </div>

    <!-- 引入topbar 顶部导航栏 -->
    <div th:replace="commons/bar::topbar(menuActiveUri='Sys')"></div>

    <!-- 内容 -->
    <div class="container">
        <div class="row">
            <!-- 引入sidebar 左侧工具导航栏 -->
            <div th:replace="commons/bar::#sidebar(activeUri='propTool', activeFatherUri='ConfigTool')"></div>

            <!-- 右侧内容面板 -->
            <div class="col-sm-9">
                <!-- 引入面板导航元素-->
                <div th:replace="commons/proptool::#pt-nav-tab(textSize='normal', elementUri='relations')"></div>

                <!-- 引入Bootstrap Table Local 选择器 -->
                <div th:replace="commons/selector::#btlocale-selector"></div>

                <!-- 引入table 模块基本信息面板 -->
                <div th:replace="commons/table::#tableFragement(tableNumber='single',ifTreeView='yes',
                ifModuleSelected='yes', ifElevatorTypeSelected='yes')"></div>

                <!-- 模态框: 树形结构图 -->
                <div class="modal fade" id="treeModel" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title" style="color: #761c19;">电梯结构树</h2>
                            </div>
                            <div class="modal-body">
                                <!-- 引入searchable treeView 树形结构图-->
                                <div th:replace="commons/tree::#seachableTree"></div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger btn-md" type="button" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 模态框: 表格信息编辑表单 -->
                <div class="modal fade" id="SingleEditFormModel" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" id="headerCloseBtn">&times;</button>
                                <h2 class="modal-title" style="color: #761c19;">模块-模块约束</h2>
                            </div>
                            <div class="modal-body">
                                <!-- 模块-模块约束 编辑表单 -->
                                <form th:action="@{/propTool/mcorrelation}" method="post">
                                    <!-- moduleBasicInfo 不为空 修改-->
                                    <input type="hidden" name="_method" value="post" id="corrEditFormMethod">
                                    <input type="hidden" name="id" id="corrIdHiddenInput">
                                    <div class="form-group">
                                        <label for="moduleName">模块名称</label>
                                        <input type="text" name="moduleName" id="moduleName" class="form-control" placeholder="曳引机">
                                    </div>
                                    <div class="form-group">
                                        <label for="father">父模块</label>
                                        <input type="text" name="father" id="father" class="form-control" placeholder="曳引机系统">
                                    </div>
                                    <div class="form-group">
                                        <label for="corrClass">关系类型</label>
                                        <select id="corrClass" name="corrClass" class="form-control" onchange="SelectOnChange()">
                                            <option value=""></option>
                                            <option value="组成关系">组成关系</option>
                                            <option value="聚类关系">聚类关系</option>
                                        </select>
                                        <input type="hidden" id="corrClassInput">
                                    </div>
                                    <div class="form-group">
                                        <label for="corrForm">关系表达式</label>
                                        <input type="text" name="corrForm" id="corrForm" class="form-control" placeholder="PartOf(曳引机,曳引机系统)">
                                    </div>
                                    <div class="form-group">
                                        <label for="elevType">电梯型号</label>
                                        <input type="text" name="elevType" id="elevType" class="form-control" placeholder="KLk2金豹超高速电梯">
                                    </div>
                                    <button class="btn btn-primary" type="submit" id="corrSubmitBtn">添加</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger btn-md" type="button" data-dismiss="modal" id="footerCloseBtn">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 删除按钮绑定form -->
    <form method="post" id="deleteBindForm">
        <input type="hidden" name="_method" value="delete">
    </form>

    <!-- 底部内容 -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>底部内容</p>
    </div>

<script src="/js/jquery-3.4.1.min.js"></script>
<!--<script src="/js/bootstrap.min.js"></script>
<script src="/js/tableExport.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>-->
<script src="/js/bootstrap-treeview.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script>
        var $table = $('#table_s');
        var $remove = $('#remove_s');
        var selections = [];

        $(function () {
            initFormContent();

            initTable();

            $('#locale').change(initTable);

            //查询按钮事件
            $('#searchBtn_s').click(function () {
                $('#table_s').bootstrapTable('refresh');
            });

            //树形控件初始化
            initTree();

        });

        function initFormContent(){
            $("#corrEditFormMethod").attr("value", "post");

            $("#corrIdHiddenInput").attr("value", "");

            $("#moduleName").attr("value", "");
            $("#father").attr("value", "");
            $("#corrClassInput").attr("value", "");
            $("#corrForm").attr("value", "");
            $("#elevType").attr("value", "");

            $("#corrSubmitBtn")[0].innerText = "添加";
        }

        function refreshFormContent(){
            //刷新表单信息 编辑页面
            var relation = $("#corrClassInput").val();

            if(relation != null && relation !== ''){
                $("#corrClass option[value='" + relation + "']").prop("selected", "selected");
            }
        }

        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                method: 'post',
                url: '/propTool/mcorrelation_list',
                contentType: 'application/x-www-form-urlencoded',
                striped: true, //是否显示行间隔色
                pageNumber: 1, //初始化加载第一页
                pagination: true,//是否分页
                sidePagination: 'server',//server:服务器端分页|client：前端分页
                pageSize: 5,//单页记录数
                pageList: [5, 10, 20, 30],//可选择单页记录数
                queryParams: function (params) {//上传服务器的参数
                    var temp = {//如果是在服务器端实现分页，limit、offset这两个参数是必须的
                        offset: params.offset + 0,
                        pageNumber: params.limit,
                        elevType: $('#elevatorSeletor').val(),
                        moduleName: $('#moduleSeletor').val(),
                        father: $('#search_sc').val()
                    };
                    return temp;
                },
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: '序号',
                        field: 'id',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        formatter: idFormatter
                    }, {
                        field: 'moduleName',
                        title: '模块名称',
                        sortable: true,
                        align: 'center'
                    }, {
                        field: 'father',
                        title: '父模块',
                        sortable: true,
                        align: 'center'
                    }, {
                        field: 'corrClass',
                        title: '关系类型',
                        sortable: false,
                        align: 'center'
                    }, {
                        field: 'corrForm',
                        title: '关系表达式',
                        sortable: false,
                        align: 'center'
                    },{
                        field: 'elevType',
                        title: '电梯型号',
                        sortable: false,
                        align: 'center'
                    },{
                        field: 'operate',
                        title: 'operation',
                        align: 'center',
                        clickToSelect: false,
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }
                ]
            });

            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                });

            $table.on('all.bs.table', function (e, name, args) {
                console.log(name, args)
            });

            $remove.click(function () {
                var ids = getIdSelections();
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $remove.prop('disabled', true)
            })
        }

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }

        function idFormatter(value, row, index) {
            var pageSize = $('#table_s').bootstrapTable('getOptions').pageSize;     //通过table的#id 得到每页多少条
            var pageNumber = $('#table_s').bootstrapTable('getOptions').pageNumber; //通过table的#id 得到当前第几页
            return pageSize * (pageNumber - 1) + index + 1;    // 返回每条的序号： 每页条数 *（当前页 - 1 ）+ 序号
        }

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            });
            return html.join('')
        }

        function operateFormatter(value, row, index) {
            return [
                '<a class="edit" data-toggle="modal" data-target="#SingleEditFormModel" title="Edit" style="margin-right: 10px;">',
                '<i class="glyphicon glyphicon-pencil"></i>',
                '</a>',
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-trash"></i>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                //修改表单提交方式
                $("#corrEditFormMethod").attr("value", "put");
                //采用ajax查询当前对象信息
                $.ajax({
                    url: "/propTool/mcorrelation/" + row.id,
                    type: "post",
                    dataType: "json",
                    success: function (defaultData) {
                        $("#corrIdHiddenInput").attr("value", defaultData.id);
                        $("#moduleName").attr("value", defaultData.moduleName);
                        $("#father").attr("value", defaultData.father);
                        $("#corrClassInput").attr("value", defaultData.corrClass);
                        $("#corrForm").attr("value", defaultData.corrForm);
                        $("#elevType").attr("value", defaultData.elevType);
                        $("#corrSubmitBtn")[0].innerText = "修改";
                        refreshFormContent();
                    }, error: function () {
                        alert("查询失败！");
                    }
                });
            },
            'click .remove': function (e, value, row, index) {
                $("#deleteBindForm").attr('action', '/propTool/mcorrelation/' + row.id).submit();
            }
        };

        function SelectOnChange() {
            var relation = $("#corrClass").val();
            var pairOne = $("#moduleName").val();
            var pairTwo = $("#father").val();

            if(pairOne != null && pairOne !== ''){
                if(pairTwo != null && pairTwo !== ''){
                    switch (relation) {
                        case "组成关系":
                            $("#corrForm").attr('value', 'PartOf(' + pairOne + ',' + pairTwo + ')');
                            break;
                        case "聚类关系":
                            $("#corrForm").attr('value', 'KindOf(' + pairOne + ',' + pairTwo + ')');
                            break;
                    }
                }
            }
        }

        $("#headerCloseBtn").click(function () {
            initFormContent();
            refreshFormContent();
        });

        $("#footerCloseBtn").click(function () {
            initFormContent();
            refreshFormContent();
        });

        function initTree() {
            console.log("树形结构初始化");
            var defaultData = [
                {
                    text: '电梯产品',
                    nodes: [
                        {
                            text: '曳引系统',
                            nodes: [
                                {
                                    text: '曳引机'
                                },
                                {
                                    text: '曳引绳'
                                },
                                {
                                    text: '导向轮'
                                },
                                {
                                    text: '反绳轮'
                                }
                            ]
                        },
                        {
                            text: '导向系统'
                        },
                        {
                            text: '轿厢系统'
                        },
                        {
                            text: '重量平衡系统'
                        },
                        {
                            text: '门系统'
                        },
                        {
                            text: '电力拖动系统'
                        },
                        {
                            text: '电气控制系统'
                        },
                        {
                            text: '安全保护系统'
                        }
                    ]
                }
            ];

            var $searchableTree = $('#treeview-searchable').treeview({
                color: "#428bca",
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',
                nodeIcon: 'glyphicon glyphicon-bookmark',
                data: defaultData
            });

            var search = function(e) {
                var pattern = $('#input-tree-search').val();
                var options = {
                    ignoreCase: $('#chk-ignore-case').is(':checked'),
                    exactMatch: $('#chk-exact-match').is(':checked'),
                    revealResults: $('#chk-reveal-results').is(':checked')
                };
                var results = $searchableTree.treeview('search', [ pattern, options ]);

                var output = '<p>' + results.length + ' matches found</p>';
                $.each(results, function (index, result) {
                    output += '<p>- ' + result.text + '</p>';
                });
                $('#tree-search-output').html(output);
            }

            $('#btn-tree-search').on('click', search);
            $('#input-tree-search').on('keyup', search);

            $('#btn-tree-clear-search').on('click', function (e) {
                $searchableTree.treeview('clearSearch');
                $('#input-tree-search').val('');
                $('#tree-search-output').html('');
            });
        }

        //根据电梯型号选择器，实现树形控件更新
        function SelectOnChangeWithElevatorType(){

            //刷新表
            $('#table_s').bootstrapTable('refresh');

            var jsonData = {};

            jsonData["elevType"] = $("#elevatorSeletor").val();

            //将JSON类型对象转换为json字符串
            var params = JSON.stringify(jsonData);

            $.ajax({
                url: "/propTool/correlation/eleTree",
                type: "post",
                data: params,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success:function(defaultData){
                    $('#treeview-searchable').treeview({
                        data: defaultData,//数据源参数
                        color: "#428bca",
                        expandIcon: 'glyphicon glyphicon-chevron-right',
                        collapseIcon: 'glyphicon glyphicon-chevron-down',
                        nodeIcon: 'glyphicon glyphicon-bookmark'
                    });
                },error:function(){
                    alert("加载树异常！");
                }
            })
        }

    </script>
</body>
</html>