<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Info Edit</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <form th:action="@{/propTool/mconfParam}" method="post">
                    <!-- moduleBasicInfo 不为空 修改-->
                    <input type="hidden" name="_method" value="put" th:if="${info!=null}">
                    <input type="hidden" name="id" th:if="${info!=null}" th:value="${info.id}">
                    <div class="form-group">
                        <label for="confParaName">参数名称</label>
                        <input type="text" name="confParaName" id="confParaName" class="form-control" placeholder="曳引机功率" th:value="${info!=null}?${info.confParaName}">
                    </div>
                    <div class="form-group">
                        <label for="confParaClass">参数类型</label>
                        <input type="text" name="confParaClass" id="confParaClass" class="form-control" placeholder="性能参数" th:value="${info!=null}?${info.confParaClass}">
                    </div>
                    <div class="form-group">
                        <label for="confParaLabel">参数标识</label>
                        <input type="text" name="confParaLabel" id="confParaLabel" class="form-control" placeholder="yyjgl" th:value="${info!=null}?${info.confParaLabel}">
                    </div>
                    <div class="form-group">
                        <label for="confParaUnit">参数单位</label>
                        <input type="text" name="confParaUnit" id="confParaUnit" class="form-control" placeholder="KW" th:value="${info!=null}?${info.confParaUnit}">
                    </div>
                    <div class="form-group">
                        <label for="moduleLinked">所属模块</label>
                        <input type="text" name="moduleLinked" id="moduleLinked" class="form-control" placeholder="曳引机" th:value="${info!=null}?${info.moduleLinked}">
                    </div>
                    <button class="btn btn-primary" type="submit" th:text="${info!=null}?'修改':'添加'"></button>
                </form>
            </main>
        </div>
    </div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tableExport.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>

</body>
</html>