<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzishu727.dao.ModuleConfParamDao">

    <!-- 查询全部/根据condition查询条件 查询-->
    <select id="selectList" resultType="moduleConfParam">
        SELECT id, confParaName, confParaClass, confParaLabel, confParaUnit, moduleLinked
        FROM t_mconfparam
        WHERE 1=1
        <if test="moduleLinked != null and moduleLinked != ''">
            AND moduleLinked=#{moduleLinked}
        </if>
        <if test="confParaName != null and confParaName != ''">
            AND confParaName like concat('%', #{confParaName}, '%')
            OR confParaClass like concat('%', #{confParaName}, '%')
            OR confParaLabel like concat('%', #{confParaName}, '%')
        </if>
        LIMIT #{offset}, #{pageNumber}
    </select>

    <!-- 查询数据库表中数据总条数-->
    <select id="getTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_mconfparam
    </select>

    <!-- 根据id查询-->
    <select id="selectById" resultType="moduleConfParam">
        SELECT id, confParaName, confParaClass, confParaLabel, confParaUnit, moduleLinked
        FROM t_mconfparam
        WHERE id=#{id}
    </select>

    <!-- 添加 -->
    <insert id="addModuleConfParam">
        INSERT INTO t_mconfparam
        (confParaName, confParaClass, confParaLabel, confParaUnit, moduleLinked)
        VALUES
        (#{confParaName}, #{confParaClass}, #{confParaLabel}, #{confParaUnit}, #{moduleLinked})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@identity
        </selectKey>
    </insert>

    <!-- 更新 -->
    <update id="updateModuleConfParam">
        UPDATE t_mconfparam
        SET
        confParaName=#{confParaName},confParaClass=#{confParaClass},confParaLabel=#{confParaLabel},confParaUnit=#{confParaUnit}, moduleLinked=#{moduleLinked}
        WHERE id=#{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteModuleConfParam">
        DELETE FROM t_mconfparam
        WHERE id=#{id}
    </delete>

</mapper>