<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzishu727.dao.ModuleCorrelationDao">

    <!-- 查询全部/根据condition查询条件 查询-->
    <select id="selectList" resultType="moduleCorrelation">
        SELECT id, moduleName, father, corrClass, corrForm
        FROM t_mcorrelations
        WHERE 1=1
        <if test="moduleName != null and moduleName != ''">
            AND moduleName=#{moduleName}
        </if>
        <if test="father != null and father != ''">
            AND (father like concat('%', #{father}, '%')
            OR corrClass  like concat('%', #{father}, '%')
            OR corrForm  like concat('%', #{father}, '%'))
        </if>
        LIMIT #{offset}, #{pageNumber}
    </select>

    <!-- 查询全部-->
    <select id="selectAll" resultType="moduleCorrelation">
        SELECT id, moduleName, father, corrClass, corrForm
        FROM t_mcorrelations
    </select>


    <!-- 查询数据库表中数据总条数-->
    <select id="getTotal" resultType="java.lang.Integer">
        SELECT count(1)
        FROM t_mcorrelations
    </select>

    <!-- 根据id查询-->
    <select id="selectById" resultType="moduleCorrelation">
        SELECT id, moduleName, father, corrClass, corrForm
        FROM t_mcorrelations
        WHERE id=#{id}
    </select>

    <!-- 根据father==null查询-->
    <select id="selectByFatherEqNull" resultType="moduleCorrelation">
        SELECT id, moduleName, father, corrClass, corrForm
        FROM t_mcorrelations
        WHERE father='/'
    </select>

    <!-- 根据father查询-->
    <select id="selectByFather" resultType="moduleCorrelation">
        SELECT id, moduleName, father, corrClass, corrForm
        FROM t_mcorrelations
        WHERE father=#{father}
    </select>

    <!-- 添加 -->
    <insert id="addModuleCorrelation">
        INSERT INTO t_mcorrelations
        (moduleName, father, corrClass, corrForm)
        VALUES
        (#{moduleName}, #{father}, #{corrClass}, #{corrForm})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT @@identity
        </selectKey>
    </insert>

    <!-- 更新 -->
    <update id="updateModuleCorrelation">
        UPDATE t_mcorrelations
        SET
        moduleName=#{moduleName}, father=#{father}, corrClass=#{corrClass}, corrForm=#{corrForm}
        WHERE id=#{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteModuleCorrelation">
        DELETE FROM t_mcorrelations
        WHERE id=#{id}
    </delete>

</mapper>