<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- topbar -->
    <nav class="navbar navbar-inverse" role="navigation" th:fragment="topbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">定制设计</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active" th:class="${menuActiveUri}=='Home'? 'active':''"><a href="../index.html" th:href="@{/home}">首页</a></li>
                    <li class="dropdown" th:class="${menuActiveUri}=='Sys'? 'active':''">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            定制系统<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">服装定制系统</a></li>
                            <li><a href="#" th:href="@{/elevSys}">电梯定制系统</a></li>
                            <li><a href="#">盾构定制系统</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" th:class="${menuActiveUri}=='Resource'? 'active':''">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            资源案例<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">模块资源库</a></li>
                            <li><a href="#">设计案例库</a></li>
                            <li class="divider"></li>
                            <li><a href="#">资源管理</a></li>
                            <li><a href="#">资源审核</a></li>
                        </ul>
                    </li>
                    <li th:class="${menuActiveUri}=='Mine'? 'active':''"><a href="#">个人中心</a></li>
                    <li th:class="${menuActiveUri}=='Help'? 'active':''"><a href="#">帮助</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:class="${menuActiveUri}=='Login'? 'active':''"><a href="../login.html"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <li th:class="${menuActiveUri}=='Regist'? 'active':''"><a href="../register.html"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 左侧导航栏 left sidebar-->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
        <div class="sidebar-sticky">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                <i class="glyphicon glyphicon-signal" style="margin-right: 10px;"></i>需求建模
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具1</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具2</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具3</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具4</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具5</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具6</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具7</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具8</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具9</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">
                                <i class="glyphicon glyphicon-signal" style="margin-right: 10px;"></i>概念设计
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具1</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具2</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具3</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具4</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具5</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具6</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具7</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具8</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具9</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree">
                                <i class="glyphicon glyphicon-signal" style="margin-right: 10px;"></i>功能配置
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" th:class="${activeFatherUri=='ConfigTool'?'panel-collapse collapse in':'panel-collapse collapse'}">
                        <div class="panel-body">
                            <ul class="list-group">
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>模块功构映射</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>模块结构划分</a>
                                <a href="#" class="list-group-item list-group-item-warning"
                                   th:class="${activeUri=='propTool'?'list-group-item list-group-item-danger':'list-group-item list-group-item-warning'}"
                                   th:href="@{/propTool}">
                                    <i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>模块属性建模
                                </a>
                                <a href="#" class="list-group-item list-group-item-warning"
                                   th:class="${activeUri=='ruleTool'?'list-group-item list-group-item-danger':'list-group-item list-group-item-warning'}"
                                   th:href="@{/ruleTool}">
                                    <i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>配置规则定义
                                </a>
                                <a href="#" class="list-group-item list-group-item-warning"
                                   th:class="${activeUri=='templateTool'?'list-group-item list-group-item-danger':'list-group-item list-group-item-warning'}"
                                   th:href="@{/templateTool}">
                                    <i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>配置模板创成
                                </a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>功能模块配置</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>模块结构变异</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>模块重构设计</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>模块功能求解</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour">
                                <i class="glyphicon glyphicon-signal" style="margin-right: 10px;"></i>体验预测
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="list-group">
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具1</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具2</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具3</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具4</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具5</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具6</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具7</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具8</a>
                                <a href="#" class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-wrench" style="margin-right: 10px;"></i>工具9</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</body>
</html>