<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- Property Model Tool -->
    <!-- 右侧内容面板 导航元素-->
    <span th:switch="${textSize}" id="pt-nav-tab">
        <span th:case="'normal'">
            <ul class="nav nav-tabs" style="margin-top: 20px;">
                <li th:class="${elementUri}=='basicinfo'?'active':''"><a
                        href="/propTool"><h4><strong>模块基本信息</strong></h4></a></li>
                <li th:class="${elementUri}=='feaparam'?'active':''"><a
                        href="/propTool/feaParam"><h4><strong>模块特征参数</strong></h4></a></li>
                <li th:class="${elementUri}=='constraints'?'active':''"><a
                        href="/propTool/constraint"><h4><strong>模块约束管理</strong></h4></a></li>
                <li th:class="${elementUri}=='relations'?'active':''"><a
                        href="/propTool/correlation"><h4><strong>模块关系管理</strong></h4></a></li>
            </ul>
        </span>
        <span th:case="'small'">
            <ul class="nav nav-tabs" style="margin-top: 20px;">
                <li th:class="${elementUri}=='basicinfo'?'active':''"><a
                        href="/propTool"><h5><b>模块基本信息</b></h5></a></li>
                <li th:class="${elementUri}=='feaparam'?'active':''"><a
                        href="/propTool/feaParam"><h5><b>模块特征参数</b></h5></a></li>
                <li th:class="${elementUri}=='constraints'?'active':''"><a
                        href="/propTool/constraint"><h5><b>模块约束管理</b></h5></a></li>
                <li th:class="${elementUri}=='relations'?'active':''"><a
                        href="/propTool/correlation"><h5><b>模块关系管理</b></h5></a></li>
            </ul>
        </span>
    </span>


    <!-- 面板内面板 -->
    <ul class="nav nav-tabs" style="margin-top: 20px;" id="pt-nav-tab-child">
        <li th:class="${eleUri}=='all'?'active':''" title=""><a class="btn btn-sm btn-primary" th:href="@{/propTool/constraint}"><b>全部约束</b></a></li>
        <li th:class="${eleUri}=='m-m'?'active':''" title="模块-模块"><a class="btn btn-sm btn-primary" th:href="@{/propTool/constraint_mm}"><b>模块—模块约束</b></a></li>
        <li th:class="${eleUri}=='m-f'?'active':''" title="模块-模块特征参数"><a class="btn btn-sm btn-primary" th:href="@{/propTool/constraint_mf}"><b>模块-模块特征参数约束</b></a></li>
        <li th:class="${eleUri}=='f-f'?'active':''" title="模块特征参数-模块特征参数"><a class="btn btn-sm btn-primary" th:href="@{/propTool/constraint_ff}"><b>模块特征参数-模块特征参数约束</b></a></li>
        <li th:class="${eleUri}=='mself'?'active':''" title="模块内部约束"><a class="btn btn-sm btn-primary" th:href="@{/propTool/constraint_mself}"><b>模块内部约束</b></a></li>
    </ul>

</body>
</html>