<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Info Edit</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/propTool/mfeaParam}" method="post">
                <!-- moduleBasicInfo 不为空 修改-->
                <input type="hidden" name="_method" value="put" th:if="${info!=null}">
                <input type="hidden" name="id" th:if="${info!=null}" th:value="${info.id}">
                <div class="form-group">
                    <label for="feaParaName">参数名称</label>
                    <input type="text" name="feaParaName" id="feaParaName" class="form-control" placeholder="曳引机功率"
                           th:value="${info!=null}?${info.feaParaName}">
                </div>
                <div class="form-group">
                    <label for="feaParaClass">参数类型</label>
                    <input type="text" name="feaParaClass" id="feaParaClass" class="form-control" placeholder="性能参数"
                           th:value="${info!=null}?${info.feaParaClass}">
                </div>
                <div class="form-group">
                    <label for="feaParaLabel">参数标识</label>
                    <input type="text" name="feaParaLabel" id="feaParaLabel" class="form-control" placeholder="yyjgl"
                           th:value="${info!=null}?${info.feaParaLabel}">
                </div>
                <div class="form-group">
                    <label for="feaParaDataClass">参数数据类型</label>
                    <input type="text" name="feaParaDataClass" id="feaParaDataClass" class="form-control" placeholder="浮点型"
                           th:value="${info!=null}?${info.feaParaDataClass}">
                </div>
                <div class="form-group">
                    <label for="feaParaValueClass">参数值类型</label>
                    <input type="text" name="feaParaValueClass" id="feaParaValueClass" class="form-control" placeholder="离散型"
                           th:value="${info!=null}?${info.feaParaValueClass}">
                </div>
                <div class="form-group">
                    <label for="feaParaRange">参数取值范围</label>
                    <input type="text" name="feaParaRange" id="feaParaRange" class="form-control" placeholder="20~40"
                           th:value="${info!=null}?${info.feaParaRange}">
                </div>
                <div class="form-group">
                    <label for="feaParaUnit">参数单位</label>
                    <input type="text" name="feaParaUnit" id="feaParaUnit" class="form-control" placeholder="KW"
                           th:value="${info!=null}?${info.feaParaUnit}">
                </div>
                <div class="form-group">
                    <label for="moduleLinked">关联模块</label>
                    <input type="text" name="moduleLinked" id="moduleLinked" class="form-control" placeholder="曳引机"
                           th:value="${info!=null}?${info.moduleLinked}">
                </div>
                <button class="btn btn-primary" type="submit" th:text="${info!=null}?'修改':'添加'"></button>
            </form>
        </main>
    </div>
</div>

<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/tableExport.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table-locale-all.min.js"></script>
<script src="/static/js/bootstrap-table-export.min.js"></script>

</body>
</html>