<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Info Edit</title>

    <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/propTool/mconstrmm}" method="post">
                <!-- moduleBasicInfo 不为空 修改-->
                <input type="hidden" name="_method" value="put" th:if="${info!=null}">
                <input type="hidden" name="id" th:if="${info!=null}" th:value="${info.id}">
                <div class="form-group">
                    <label for="constPair">约束对</label>
                    <div class="form-inline">
                        <input type="text" name="constPair" id="constPair" class="form-control" placeholder="曳引机-导向轮"
                               th:value="${info!=null}?${info.constPair}">
                        <select id="pairone" class="form-control" onchange="SelectOnChange()"><option th:each="module:${modules}" th:value="${module.moduleName}" th:text="${module.moduleName}"></option></select>
                        <label class="">-</label>
                        <select id="pairtwo" class="form-control" onchange="SelectOnChange()"><option th:each="module:${modules}" th:value="${module.moduleName}" th:text="${module.moduleName}"></option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="constMaster">约束主模块</label>
                    <input type="text" name="constMaster" id="constMaster" class="form-control" placeholder="曳引机"
                           th:value="${info!=null}?${info.constMaster}">
                </div>
                <div class="form-group">
                    <label for="pairClass">约束对类型</label>
                    <input type="text" name="pairClass" id="pairClass" class="form-control"
                           th:value="${info!=null}?${info.pairClass}:'模块-模块'" readonly>
                </div>
                <div class="form-group">
                    <label for="constClass">约束关系类型</label>
                    <select id="constClass" name="constClass" class="form-control" onchange="SelectOnChangeR()">
                        <option value=""></option>
                        <option value="依赖关系">依赖关系</option>
                        <option value="包含关系">包含关系</option>
                        <option value="互斥关系">互斥关系</option>
                        <option value="装配数量关系">装配数量关系</option>
                    </select>
                    <input type="hidden" id="constClassInput" th:value="${info!=null}?${info.constClass}">
                </div>
                <div class="form-group">
                    <label for="constForm">约束关系表达式</label>
                    <input type="text" name="constForm" id="constForm" class="form-control" placeholder="Dependency(曳引机,导向轮)"
                           th:value="${info!=null}?${info.constForm}">
                </div>
                <button class="btn btn-primary" type="submit" th:text="${info!=null}?'修改':'添加'"></button>
            </form>
        </main>
    </div>
</div>


<!--<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<script>

    $(function () {
        var pairValue = $("#constPair").val();
        var relation = $("#constClassInput").val();
        /*console.log(pairValue);
        console.log(typeof pairValue);*/
        if(pairValue != null && pairValue !== ''){
            /*console.log(pairValue.split('-'));*/
            $("#pairone option[value='" + pairValue.split('-')[0] + "']").prop("selected", "selected");
            $("#pairtwo option[value='" + pairValue.split('-')[1] + "']").prop("selected", "selected");
        }else{
            $("#pairone option[value='" + "曳引机" + "']").prop("selected", "selected");
            $("#pairtwo option[value='" + "导向轮" + "']").prop("selected", "selected");
        }

        console.log(relation);
        if(relation != null && relation !== ''){
            $("#constClass option[value='" + $("#constClassInput").val() + "']").prop("selected", "selected");
        }

    });

    function SelectOnChange(){
        var pairOne = $("#pairone").val();
        var pairTwo = $("#pairtwo").val();
        var pair = pairOne + "-" + pairTwo;
        $("#constPair").attr('value', pair);
        $("#constMaster").attr('value', pairOne);
    }

    function SelectOnChangeR() {
        var relation = $("#constClass").val();
        var pairOne = $("#pairone").val();
        var pairTwo = $("#pairtwo").val();
        console.log(relation);
        switch (relation) {
            case "依赖关系":
                $("#constForm").attr('value', 'Dependency(' + pairOne + ',' + pairTwo + ')');
                break;
            case "包含关系":
                $("#constForm").attr('value', 'Inclusion(' + pairOne + ',' + pairTwo + ')');
                break;
            case "互斥关系":
                $("#constForm").attr('value', 'Exclusion(' + pairOne + ',' + pairTwo + ')');
                break;
            case "装配数量关系":
                $("#constForm").attr('value', 'Quantity(' + pairOne + ',' + pairTwo + ')');
                break;
        }

    }

</script>
</body>
</html>