<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elevator</title>

   <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">


</head>

<body>
    <!-- 项目标示语 -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h3>"互联网+"产品定制设计方法与技术——国家重点研发计划</h3>
    </div>

    <!-- 引入topbar 顶部导航栏 -->
    <div th:replace="commons/bar::topbar(menuActiveUri='Sys')"></div>

    <!-- 内容 -->
    <div class="container">
        <div class="row">
            <!-- 引入sidebar 左侧工具导航栏 -->
            <div th:replace="commons/bar::#sidebar(activeUri='propTool', activeFatherUri='ConfigTool')"></div>

            <!-- 右侧内容面板 -->
            <div class="col-sm-9">
                <!-- 引入面板导航元素-->
                <div th:replace="commons/proptool::#pt-nav-tab(textSize='normal',elementUri='constraints')"></div>

                <!-- 引入Bootstrap Table Local 选择器 -->
                <div th:replace="commons/selector::#btlocale-selector"></div>

                <!-- 模块-模块约束 -->
                <!--引入面板内面板 -->
                <div th:replace="commons/proptool::#pt-nav-tab-child(eleUri='m-m')"></div>

                <!-- 引入table 模块约束面板-->
                <div th:replace="commons/table::#tableFragement(ifHavingHeading='no',
                tablePlaneUri='ptModuleConstraint-mm',tableNumber='single',ifModuleSelected='yes')"></div>

            </div>
        </div>
    </div>

    <!-- 编辑按钮绑定form-->
    <form method="get" id="editBindForm">
    </form>

    <!-- 删除按钮绑定form -->
    <form method="post" id="deleteBindForm">
        <input type="hidden" name="_method" value="delete">
    </form>

    <!-- 底部内容 -->
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>底部内容</p>
    </div>
<!--<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tableExport.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <script>
        var $table = $('#table_s');
        var $remove = $('#remove_s');
        var selections = [];

        $(function () {
            initTable();

            $('#locale').change(initTable);

            //查询按钮事件
            $('#searchBtn_s').click(function () {
                $('#table_s').bootstrapTable('refresh');
            });

        });

        function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                method: 'post',
                url: '/propTool/mconstraint_list',
                contentType: 'application/x-www-form-urlencoded',
                striped: true, //是否显示行间隔色
                pageNumber: 1, //初始化加载第一页
                pagination: true,//是否分页
                sidePagination: 'server',//server:服务器端分页|client：前端分页
                pageSize: 5,//单页记录数
                pageList: [5, 10, 20, 30],//可选择单页记录数
                queryParams: function (params) {//上传服务器的参数
                    var temp = {//如果是在服务器端实现分页，limit、offset这两个参数是必须的
                        offset: params.offset + 0,
                        pageNumber: params.limit,
                        pairClass: $('#pt-nav-tab-child .active')[0]['title'],
                        constMaster: $('#moduleSeletor').val(),
                        constPair: $('#search_sc').val()
                    };
                    return temp;
                },
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        align: 'center',
                        valign: 'middle'
                    }, {
                        title: '序号',
                        field: 'id',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        formatter: idFormatter
                    }, {
                        field: 'constPair',
                        title: '约束关系对',
                        sortable: true,
                        align: 'center'
                    }, {
                        field: 'constMaster',
                        title: '约束主模块',
                        sortable: true,
                        align: 'center'
                    }, {
                        field: 'pairClass',
                        title: '约束对类型',
                        sortable: true,
                        align: 'center'
                    }, {
                        field: 'constClass',
                        title: '约束关系类型',
                        sortable: true,
                        align: 'center'
                    }, {
                        field: 'constForm',
                        title: '约束关系表达式',
                        sortable: true,
                        align: 'center'
                    },{
                        field: 'operate',
                        title: 'operation',
                        align: 'center',
                        clickToSelect: false,
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }
                ]
            });

            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);

                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                });

            $table.on('all.bs.table', function (e, name, args) {
                console.log(name, args)
            });

            $remove.click(function () {
                var ids = getIdSelections();
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                $remove.prop('disabled', true)
            })
        }

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }

        function idFormatter(value, row, index) {
            var pageSize = $('#table_s').bootstrapTable('getOptions').pageSize;     //通过table的#id 得到每页多少条
            var pageNumber = $('#table_s').bootstrapTable('getOptions').pageNumber; //通过table的#id 得到当前第几页
            return pageSize * (pageNumber - 1) + index + 1;    // 返回每条的序号： 每页条数 *（当前页 - 1 ）+ 序号
        }

        function detailFormatter(index, row) {
            var html = [];
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            });
            return html.join('')
        }

        function operateFormatter(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="Edit" style="margin-right: 10px;">',
                '<i class="glyphicon glyphicon-pencil"></i>',
                '</a>',
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-trash"></i>',
                '</a>'
            ].join('')
        }

        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                $("#editBindForm").attr('action', '/propTool/mconstrmm/' + row.id).submit();
            },
            'click .remove': function (e, value, row, index) {
                $("#deleteBindForm").attr('action', '/propTool/mconstrmm/' + row.id).submit();
            }
        };

    </script>
</body>
</html>