<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basic Info Edit</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <form th:action="@{/basicInfo}" method="post">
                    <!-- basicInfo 不为空 修改-->
                    <input type="hidden" name="_method" value="put" th:if="${info!=null}">
                    <input type="hidden" name="id" th:if="${info!=null}" th:value="${info.id}">
                    <div class="form-group">
                        <label for="propertyName">属性名称</label>
                        <input type="text" name="propertyName" id="propertyName" class="form-control" placeholder="曳引机直径" th:value="${info!=null}?${info.propertyName}">
                    </div>
                    <div class="form-group">
                        <label for="propertyLabel">属性标识</label>
                        <input type="text" name="propertyLabel" id="propertyLabel" class="form-control" placeholder="yyjzj" th:value="${info!=null}?${info.propertyLabel}">
                    </div>
                    <div class="form-group">
                        <label for="propertyValue">属性值</label>
                        <input type="text" name="propertyValue" id="propertyValue" class="form-control" placeholder="100" th:value="${info!=null}?${info.propertyValue}">
                    </div>
                    <div class="form-group">
                        <label for="propertyUnit">属性单位</label>
                        <input type="text" name="propertyUnit" id="propertyUnit" class="form-control" placeholder="cm" th:value="${info!=null}?${info.propertyUnit}">
                    </div>
                    <button class="btn btn-primary" type="submit" th:text="${info!=null}?'修改':'添加'"></button>
                </form>
            </main>
        </div>
    </div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tableExport.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table-locale-all.min.js"></script>
<script src="/js/bootstrap-table-export.min.js"></script>
</body>
</html>